<!DOCTYPE html>
<html>
    <head>
        <title>MyLine Registration</title>
    </head>
    <body>
        <form name="registration">
            <input type="text" id="first_name" value="" placeholder="First name"><br>
            <input type="text" id="last_name" value="" placeholder="Last name"><br>
            <input type="text" id="username" value="" placeholder="Username"><br>
            <input type="password" id="password" value="" placeholder="Password"><br>
            <input type="submit" id="register_creds" value="Register">
    </body>
</html>
