.node{
    list-style-type: none;
    background-color: #F8F8F8;
    width: 200px;
    padding: 10px;
    margin-bottom: 25px;
}

#trash{
	color: white;
	width: 200px;
    padding: 10px;
	font-size: 150%;
	background-color: black;
}

.node-title{
    cursor: pointer;
}

.node-date{
    display: inline;
}

.node-more{
    display: inline;
}

.node-more h3:hover{
    color: grey;
}

.node-link{
    display: block;
}